<h1>User Info von: <%= userInfo.name %></h1>

<p>Email: <%= userInfo.email %></p>
<p>Zeil: <%= userInfo.email %></p>
<p>Gewünschtes Gewicht: <%= userInfo.email %></p>
<p>Aktuelles Gewicht: <%= userInfo.email %></p>
<p>Geburtstag: <%= userInfo.email %></p>
<p>Geschlecht: <%= userInfo.email %></p>
<p>Anderer Sport: <%= userInfo.email %></p>
    <p>Wo: <%= userInfo.email %></p>
    <p>Unter welchen umständen: <%= userInfo.email %></p>
<p>Wann: <%= userInfo.email %></p>
<p>Wie oft: <%= userInfo.email %></p>
<p>Cardio?: <%= userInfo.email %></p>
<p>Probleme: <%= userInfo.email %></p>